#pyramid {
  line-height: 0;
  font-size: 30px;
  font-weight: bold;
  color: orchid;
}

#optionbar {
  background-color: lightgray;
  padding: 15px;
}

#symbols {
  font-weight: bold;
  font-size: 18px;
}

#box {
  background-color: WhiteSmoke;
  border-style: solid;
  border-radius: 10px;
  border-color: orchid;
  margin: 150px;
}

h1 {
  background-color: orchid;
  padding: 20px;
  color: white;
}

body {
  font-family: "Courier New", monospace;
  text-align: center;
}