header, nav, main, footer { display: block; } 
* {box-sizing: border-box; }
body { background-color: #330000;
       font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 960px;
           margin: auto;
		   background-color: #F4E8BC;
		   color: #330000;
		   box-shadow: 5px 5px 5px #000000;
}
h1 { background-image: url(images/Evil_Bug.png);
       background-size: contain;
     background-repeat: no-repeat;
     background-color: #F4E8BC;
	 height: 110px;
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 4.5em;
     padding-left: 220px;
	 padding-top: 20px;
	 text-shadow: 3px 3px 3px #90745D;
	 margin-bottom: 0;
}
nav { padding-top: 10px;
      float: left;
      width: 200px; 
}
nav ul { list-style-type: none; 
       padding-left: 0;
	 }
nav li { padding-bottom: 5px;
padding-left: 5px;
       font-weight: bold;
}
nav li:hover { 
       background: #90745D;
}

nav a { text-decoration: none; }
nav a:link { color: #330000; }
nav a:visited{ color: #90745D; }
nav a:hover {        color:#FFFFCC;;
               }


main { background-color: #FFFFCC;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
}
main img { float: right;
              padding: 20px;
}

footer { background-color: #FFFFCC;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}

.clear{
  clear: both;
}

/*Add your mobile CSS rules below*/



@media only screen and (max-width: 720px) {
  p {
    float: none;
    width: 100%;
    padding: 25px 0px;
    margin: 25px 0px;
    font-size: 1.2em;
    text-align: left;
  }
}

@media only screen and (max-width: 720px) {
  nav {
    width: auto;
    float: none;
    text-align: center;
    padding: 25px 0px;
    margin: 25px 0px;
  }
}
@media only screen and (max-width: 720px) {
  img {
    width: 100%;
    height: auto;
    float: none;
    padding: 25px 0px;
    margin: 25px 0px;
  }
}

@media only screen and (max-width: 720px) {
  h1, h2, h3, h4 {
    background-image: none;
    text-align: center;
    margin: 25px 0px;
    padding: 25px 0px;
  }
}

@media only screen and (max-width: 720px) {
  #wrapper {
    width: 100%;
    margin: 25px 0px;
    padding: 25px 0px;
  }
}

@media only screen and (max-width: 720px) {
  li {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-style: solid none;
    font-size: 1.45em;
  }
}

@media only screen and (max-width: 720px) {
  main {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}

@media only screen and (max-width: 720px) {
  header {
    width: 100%;
    margin: 0px 0px 40px 0px;
    padding: 0px 0px 40px 0px;
  }
}