h1, p {
  text-align: center;
  color: darkblue;
}

table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  border: 3px solid red;
  border-collapse: collapse;
  color:white;
  background-color: black
}